.main {
    height: 100vh;
}

.sidebar {
    background: rgb(66, 66, 66);
    color: #ffffff;
}

.sidebar a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 20px 10px;
}

.sidebar a:hover {
    background: black;
}

.active {
    background: #000000;
    border-right: solid 5px orange;
}

.card-data.book {
    padding: 20px 20px;
    background-color: teal;
    color: #ffffff;
}
.card-data.categories {
    padding: 20px 20px;
    background-color: rgb(209, 145, 26);
    color: #ffffff;
}
.card-data.users {
    padding: 20px 20px;
    background-color: rgb(14, 25, 173);
    color: #ffffff;
}

.card-data i {
    font-size: 70px;
}

.card-desc {
    font-size: 25px;
}

.card-count {
    font-size: 25px;
}
